name: Dounai Scheduled Tasks

on:
  workflow_dispatch:
  schedule:
    # 每天 09:30 中国时间 → 01:30 UTC
    - cron: '01 01 * * *'
    # 每天 01:30 中国时间 → 17:30 UTC 前一天
    - cron: '17 17 * * *'

jobs:
  dounai:
    runs-on: ubuntu-latest
    steps:
      - name: Pull Docker image
        run: docker pull xiaobinqt/dounai-checkin:v2

      - name: Run dounai for 1 hour
        timeout-minutes: 2
        run: docker run --rm -e PASSWORD="${{ secrets.DOUNAI_PASSWORD }}" -e EMAIL="${{ secrets.DOUNAI_EMAIL }}" xiaobinqt/dounai-checkin:v2 ./dounai start

